.game__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  padding: 40px 20px;
  position: relative;
  overflow: hidden;
  @media (max-width: 991px) {
    gap: 100px;
    padding: 30px 20px;
  }
  &_header-wrapper {
    min-width: 40%;
    margin-bottom: 10px;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  &_game-rules {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 991px) {
      justify-content: center;
    }
    &_modal {
      position: absolute;
      top: 150px;
      opacity: 0;
      transform: translateY(1000px);
      transition: all 500ms ease-in-out;
      overflow: hidden;
      z-index: 0;
      @media (max-width: 768px) {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
      &.opened {
        opacity: 1;
        transform: translateY(0);
        z-index: 1;
      }
    }
    .rules-btn {
      padding: 10px 40px;
      background-color: transparent;
      border: 1px solid #eee;
      color: #eee;
      font-weight: 800;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #eee;
        color: var(--dark-text);
      }
    }
  }
  .attribution {
    margin-top: -30px;
    color: #eee;
    a {
      color: var(--header-outline);
    }
  }
}
