.game__header {
  border: 2px solid var(--header-outline);
  border-radius: 10px;
  color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  text-transform: uppercase;
  width: 100%;
  align-items: center;
  @media (max-width: 768px) {
    padding: 10px 20px;
  }
  &_title {
    width: fit-content;
    text-align: left;
    img {
      width: 100%;
    }
    @media (max-width: 768px) {
      width: 40%;
    }
  }
  &_results {
    padding: 20px 40px;
    background-color: #eee;
    border-radius: 5px;
    @media (max-width: 768px) {
      padding: 10px 30px;
    }
    p {
      margin-bottom: 0;
      color: var(--score-text);
      font-size: 14px;
    }
    span {
      color: var(--dark-text);
      font-weight: 700;
      font-size: 40px;
    }
  }
}
